<snippet>
    <content><![CDATA[
new Vue({    
    el: '#app',
    components: { },
    created(){ },
    mounted(){ },        
    data: { },   
    methods: { },
    computed: { }
});
]]></content>
    <tabTrigger>vueapp</tabTrigger>
</snippet>
